@model HpAer.Models.Persona

@{
    ViewBag.Title = "Details";
}

<div class="textoTitulo">
    <h1>Detalle</h1>
</div>

<div class="label-button">
    <label>Persona</label>
</div>

<div class="info-registro">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaNac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaNac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaAlta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaBaja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaBaja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefonoCel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefonoCel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.puntaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.puntaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsrId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsrId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-default"> Modificar </a> |
    <a href="@Url.Action("Index")" class="btn btn-default"> Cerrar </a>
</p>