@model HpAer.Models.Calle

@{
    ViewBag.Title = "Delete";
}

<div class="textoTitulo">
    <h1>Borrar</h1>
</div>

<div class="label-button">
    <label>Calle</label>
</div>

<div>
    <div class="info-registro">
       <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.calle_nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.calle_nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Localidade.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Localidade.nombre)
            </dd>

        </dl>
    </div> 

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a href="@Url.Action("Index")" class="btn btn-default"> Cancelar </a>
        </div>
    }

    <h3>¿Esta seguro de borrar este registro?</h3>
</div>
