@model HpAer.Models.Localidad

@{
    ViewBag.Title = "Delete";
}

<div class="textoTitulo">
    <h1>Borrar</h1>
</div>

<div class="label-button">
    <label>Localidad</label>
</div>
<div>
    <div class="info-registro">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.provinciaId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Provincia.nombre)
            </dd>

        </dl>
    </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Aceptar" class="btn btn-default" /> |
                <a href="@Url.Action("Index")" class="btn btn-default"> Cancelar </a>
            </div>
            <h3>¿Esta seguro que desea borrar este registro?</h3>
        }
    </div>
