@model HpAer.Models.Animal

@{
    ViewBag.Title = "Edit";
}

<div class="textoTitulo">
    <h1>Modificar</h1>
</div>

<div class="label-button">
    <label>Animal</label>
</div>



@using (Html.BeginForm("Edit", "Animales", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.razaId, "razaId", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownList("razaId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.razaId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.edad, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.edad, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.edad, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.fechaNac, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.fechaNac, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.fechaNac, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.caracteristicas, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.caracteristicas, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.caracteristicas, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.tamanioId, "tamanioId", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownList("tamanioId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.tamanioId, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="col-md-3">

            <div class="form-group">
                @Html.LabelFor(model => model.enAdopcion, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-5">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.enAdopcion)
                        @Html.ValidationMessageFor(model => model.enAdopcion, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.enTratamiento, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-5">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.enTratamiento)
                        @Html.ValidationMessageFor(model => model.enTratamiento, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.estadoHab, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-5">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.estadoHab)
                        @Html.ValidationMessageFor(model => model.estadoHab, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-5">
                    <strong>
                        @Html.DisplayNameFor(model => model.fechaAdop)
                    </strong>
                </div>  
                <div class="control-label col-md-4">
                    @Html.DisplayFor(model => model.fechaAdop)
                </div>
                
            </div>

            <div class="form-group">
                
                <div class="control-label col-md-5">
                    <strong>
                        @Html.DisplayNameFor(model => model.fechaAlta)
                    </strong>
                </div>
                <div class="control-label col-md-4">
                    @Html.DisplayFor(model => model.fechaAlta)
                </div>
                
            </div>

            <div class="form-group">
                
                <div class="control-label col-md-5">
                    <strong>
                        @Html.DisplayNameFor(model => model.fechaTratamiento)
                    </strong>
                </div>
                <div class="control-label col-md-4">
                    @Html.DisplayFor(model => model.fechaTratamiento)
                </div>  
            </div>

        </div>
        <div class="col-md-5">
            @if (Model.Files.Any(f => f.FileType == (Int32)HpAer.Models.FileType.Avatar))
            {
                <div class="form-group">
                    <p class="control-label col-md-3"><strong>Imagen</strong></p>
                    <div class="col-md-9">
                        <img src="~/File?id=@Model.Files.First(f => f.FileType == (Int64)HpAer.Models.FileType.Avatar).FileId" alt="avatar" height="200" width="200" class="img-responsive" />
                    </div>
                </div>
            }
            <div class="form-group">
                @Html.Label("Avatar", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <input type="file" id="Avatar" name="upload" />
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Aceptar" class="btn btn-default" /> |
                <a href="@Url.Action("Index")" title="Cancelar" class="btn btn-default"> Cancelar </a>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}