@model HpAer.Models.RegistroAccione
@using Hpaer.Helpers

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Detalle Direccion</h4>
</div>


@{
    ViewBag.Title = "Details";
}

<div class="info-registro">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fechaAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaAlta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechcaBaja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechcaBaja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estadoHab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estadoHab)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accione.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accione.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.Nombre)
        </dd>

    </dl>
</div>
<p>
    <div class="modal-footer">
        <div class="pull-right">
            @Html.NoEncodeActionLink("<span class='btn btn-default'> Modificar</span>", "Modificar", "EditVp", "RegistroAcciones", routeValues: new { id = Model.Id }, htmlAttributes: new { data_modal = "" })
            <a data-dismiss="modal" class="btn btn-default"> Cerrar </a>
        </div>
    </div>


</p>

<script type="text/javascript">
    //  $(function () {
    $.ajaxSetup({ cache: false });
    $("a[data-modal]").on("click", function (e) {
        // hide dropdown if any (this is used wehen invoking modal from link in bootstrap dropdown )
        //$(e.target).closest('.btn-group').children('.dropdown-toggle').dropdown('toggle');
        $('#myModalContent').load(this.href, function () {
            $('#myModal').modal({
                /*backdrop: 'static',*/
                keyboard: true
            }, 'show');
            bindForm(this);
        });
        return false;
    });
    //});

    function bindForm(dialog) {
        $('form', dialog).submit(function () {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        $('#myModal').modal('hide');
                        $('#replacetarget').load(result.url); //  Load data from the server and place the returned HTML into the matched element
                    } else {
                        $('#myModalContent').html(result);
                        bindForm(dialog);
                    }
                }
            });
            return false;
        });
    }
</script>
